name: Main CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        version:  [ min, 1.83.1, max ]
      fail-fast: false

    env:
      CODE_VERSION: ${{ matrix.version }}
      TEST_RESOURCES: test-resources

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18.15.x
          cache: npm

      - name: Run Tests (macOS, windows)
        if: matrix.os != 'ubuntu-latest'
        run: |
          npm run test

      - name: Run Tests (linux)
        if: matrix.os == 'ubuntu-latest'
        run: |
          xvfb-run --auto-servernum --server-args='-screen 0 1920x1080x24' npm run test

      - name: Upload Screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: screenshots-${{ matrix.os }}-${{ matrix.version }}
          path: ${{ github.workspace }}/test/**/screenshots/*.png

  check:
    if: always()
    runs-on: ubuntu-latest
    name: Status Check
    needs: [ test ]
    steps:
      - name: Test Matrix Result
        run: |
          echo result = ${{ needs.test.result }}
      - name: Status Check - success
        if: ${{ needs.test.result == 'success' }}
        run: |
          echo "All tests successfully completed!"
          exit 0
      - name: Status Check - failure
        if: ${{ needs.test.result != 'success' }}
        run: |
          echo "Status Check failed!"
          exit 1
